<html>
    <head>
        <link rel="stylesheet" href="../styles/Gstyle.css">
  <link rel="stylesheet" href="../styles/Banner-Style.css">
  <script src="../js/Connecting_Pages.js"></script>
    </head>
    <body>
      <div class="first_img">
        <button class="navigation_banner prev">&#8592</button>
        <div class="carousel-container">
          <div class="carousel_items">
            <div class="carousel_item item1">
            </div>
            <div class="carousel_item item2">
            </div>
            <div class="carousel_item item3">
            </div>
            <div class="carousel_item item4">
            </div>
            <div class="carousel_item item5">
            </div>
          </div>
        </div>
        <button class="navigation_banner next">&#8594</button>
      </div>
      <script src="../js/Banner_Script.js"></script>
    </body>
</html>