<html>
    <head>
        <link rel="stylesheet" href="../styles/Gstyle.css">
    </head>
    <body>
        <div>
        <div class="footer">
            <img src="../assets/footer/CringeLogo.png" />
            <img src="../assets/footer/FakeLogo.png" />
            <img src=" ../assets/footer/StoneIslandLogo.png" />
            <img src="../assets/footer/PsinaLogo.png" />
            <img src="../assets/footer/AbibasLogo.png" />
          </div>
          <div class="footer">
            <img src="../assets/footer/SchweppesLogo.png " />
            <img src="../assets/footer/YandFoofLogo.png" />
            <img src="../assets/footer/FigmaLogo.png" />
            <img src="../assets/footer/GitHubLogo.png" />
            <img src="../assets/footer/NotionLogo.png" />
            <img src="../assets/footer/HipeLogo.png" />
            <img src="../assets/footer/VagnerLogo.png" />
          </div>
          <div class="footer">
            <img src="../assets/footer/ChatGPTLogo.png " />
            <img src="../assets/footer/DiscordLogo.png" />
            <img src="../assets/footer/DomruLogo.png" />
            <img src="../assets/footer/PolitehLogo.png" />
            <img src="../assets/footer/PRKLogo.png" />
            <img src="../assets/footer/VSCodeLogo.png" />
            <img src="../assets/footer/UFCLogo.png" />
          </div>
          <p style="text-align: center; color: white;">По соглашению с Bednov.V.A и Kozlov.V.V., игровая лицензия № 2024/PRK, PRKCasino находится под управлением компанией OOO “KringeAreHype”, Tankistov 46, Perm</p>
        </div>
    </body>
</html>