<!DOCTYPE html>
<html >
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
  <link rel="stylesheet" href="../styles/Gstyle.css">
</head>

<body>
<div class="slots"> 
    LIVE-ДИЛЛЕРЫ 
</div>
<div class="live_dillers">
  <div>
    <a href="./Roulette.html">
    <img src="../assets/Roulette.png">
  </a>
    <div class="caption"> РУЛЕТКА </div>
  </div>
  <div>
    <a href="./Blackjack.html">
    <img src="../assets/Blackjack.png">
  </a>
    <div class="caption"> БЛЕКДЖЕК </div>
  </div>
  <div>
    <a href="./Baccarat.html">
    <img src="../assets/Baccarat.png">
  </a>
    <div class="caption"> БАККАРАТ </div>
  </div>
  <div>
    <a href="./Poker.html">
    <img src="../assets/Poker.png">
  </a>
    <div class="caption"> ПОКЕР </div>
  </div>
</div>

</body>
</html>