<!DOCTYPE html>
<html >
<head>
  <link rel="stylesheet" href="../styles/Gstyle.css">
</head>

<body class="background">
  <div class="cap">
    <div class="div-display">
      <img src="../assets/PrkLogo.png" class="cap-image">
      <p class="title-navigate">ГЛАВНАЯ</p>
      <p class="title-navigate"><a href="./SlotsList.html">СЛОТЫ</p></a>
      <p class="title-navigate">LIVE-ДИЛЛЕРЫ</p>
    </div>
    <div class="div-display">
      <p class="alignText">ВХОД</p>
      <P class="alignText">РЕГИСТРАЦИЯ</P>
      </div> 
  </div>
    
</body>
</html>