<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <link rel="stylesheet" href="../styles/Gstyle.css">
        <link rel="stylesheet" href="../styles/Modal-Window.css">
      </head>
    <body class="background"> 
        <div style="display: flex; justify-content: center; margin-top: 5%;">
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/olMY5BXxdpM?autoplay=1&loop=1" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe> -->
        <iframe width="2000" height="900" frameborder="0" 
        title="65be7f34153898cb056cae39" class="game-iframe_desktop game-iframe_size_16x9" 
        allowfullscreen="" webkitallowfullscreen="true" mozallowfullscreen="true" 
        scrolling="no" allow="autoplay" 
        src="https://vegangster-launch.com/launch/?payload=gAAAAABlvn80IOy7x-0aqvrjA3loXU2lZoC9jDBqMharnvT8n173nVq139BedTQmyFDo_S9ROCVza9HDPIcjkiqxCzCZ4hTBZpOsRrwqfctVbf1f4ZRkoix3lJCTyQbva3E-Vq6EKNH3" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
    </div>
    </body>
</html>