<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
  <link rel="stylesheet" href="../styles/Gstyle.css">
</head>

<body>
  <iframe src="./Banner.html" frameborder="0" width="100%" height="405px" scrolling="no" style="margin: 0; padding: 0;"></iframe>
    <div class="slots"> 
        СЛОТЫ 
    </div>
    <div class="mini_slots">
        <div>
          <a href="#">
          <img src="../assets/Slots/WildGold/ImageSlotWildGold.png">
          <div class="caption"> Wild Gold </div>
        </a>
        </div>
        <div>
          <a href="#">
          <img src="../assets/Slots/CatLine/ImageSlotsCatLine.png">
          <div class="caption"> Cat Line </div>
          </a>
        </div>
        <div>
          <a href="./Slosts/Hook_Spin.html">
          <img src="../assets/Slots/HookSpin/ImageSlotHookSpin.png">
          <div class="caption"> Hook Spin </div>
        </a>
        </div>
        <div>
          <a href="#">
          <img src="../assets/Slots/MysteryPirates/ImageSlotMisteryPirates.png">
          <div class="caption"> Mystery Pirates </div>
        </a>
        </div>
    </div>
    <iframe src="./Footer.html" frameborder="0" width="100%" height="700px" scrolling="no" style="margin-top: 500px; padding: 0;"></iframe>
</body>
</html>