<!DOCTYPE html>
<html >
<head>
  <link rel="stylesheet" href="../styles/Gstyle.css">
</head>

<body class="background">
    <div class="cap">
      <div class="div-display">
        <img src="../assets/PrkLogo.png" class="cap-image">
        <p class="title-navigate">ГЛАВНАЯ</p>
        <p class="title-navigate">СЛОТЫ</p>
        <p class="title-navigate">LIVE-ДИЛЛЕРЫ</p>
      </div>
      <div class="div-display">
        <p class="alignText">ВХОД</p>
        <P class="alignText">РЕГИСТРАЦИЯ</P>
        </div> 
    </div>
    <div class="first_img"> 
        <img src="../assets/AddBonus.png">
    </div> 
    <div class="slots"> 
        Слоты 
    </div>
    <div class="mini_slots">
        <div>
          <img src="../assets/Group 2 (2).png">
          <div class="caption"> Wild </div>
        </div>
        <div>
          <img src="../assets/Group 3 (2).png">
          <div class="caption"> Cat Line </div>
        </div>
        <div>
          <img src="../assets/Group 4.png">
          <div class="caption"> Hook spin </div>
        </div>
        <div>
          <img src="../assets/Group 5.png">
          <div class="caption"> Mystery Pirates </div>
        </div>
    </div>

    <div style="height: 100px;"> 

    </div>

</body>
</html>