<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
  <link rel="stylesheet" href="../styles/Gstyle.css">
</head>

<body>
    <div class="slots"> 
        СЛОТЫ 
    </div>
    <div class="mini_slots">
        <div>
          <img src="../assets/Slots/WildGold/ImageSlotWildGold.png">
          <div class="caption"> Wild Gold </div>
        </div>
        <div>
          <img src="../assets/Slots/CatLine/ImageSlotsCatLine.png">
          <div class="caption"> Cat Line </div>
        </div>
        <div>
          <img src="../assets/Slots/HookSpin/ImageSlotHookSpin.png">
          <div class="caption"> Hook Spin </div>
        </div>
        <div>
          <img src="../assets/Slots/MysteryPirates/ImageSlotMisteryPirates.png">
          <div class="caption"> Mystery Pirates </div>
        </div>
    </div>
</body>
</html>