<!DOCTYPE html>
<html >
<head>
  <link rel="stylesheet" href="../../styles/Gstyle.css">
  <link rel="stylesheet" href="../../styles/Slots_Style.css">
</head>

<body>
  <div class="slot_block">  
    <p>Hook Spin</p>
    <div class="container_symbol">
    </div>
    <div class="panel_conntainer">
      <div class="rules_and_volume">
      </div>
      <div class="balance">
        <!-- текущий баланс -->
      </div>
      <div class="amount_bet">
        <button></button>
      </div>
      <div class="balance">
        <!-- выигранный баланс -->
      </div>
      <div class="twist_slots">
        <button></button>
      </div>
    </div>
</div>
</body>
</html>