body {
    padding: 0px;
    margin: 0px;
}
.background {
    background: linear-gradient(to bottom, #224056, #00D1FF);
    min-height: 100vh;
    width: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.6;
    
}

.cap {
    background-color: #5A7FA0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px groove #080800;
}

.cap-image {
    width: 100px;
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
    margin-left: 15px;
}
.title-navigate {
    color: white;
    font-size: 1.5em;
    margin-left: 10px;
    font-family: 'Calibri';
}
.alignText {
    text-align: right;
    color: white;
    font-size: 1.5em;
    font-family: 'Calibri';
    margin-left: 10px;
    margin-right: 15px;
}
.div-display {
    display: flex;
}
.deposit_in_cap  {
    padding: 15px;
    background-color: #ff8238;
    color: #fff;
    border: none;
    border-radius: 20px; 
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 14px 28px rgba(0,0,0,0.13), 0 10px 10px rgba(0,0,0,0.13);
}
.slots {
    text-align: center;
    font-size: 35px;
    color: White;
    font-family: 'Calibri';
    margin-top: 25px;
}

.mini_slots {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}
.live_dillers {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mini_slots img{
    margin: 30px 30px 5px 30px;
    
}
.live_dillers img {
    margin: 1vh 2.5vh 1vh 1vh;
    width: 250px;
    height: 150px;
}
.live_dillers .caption {
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Calibri';
  }
  .mini_slots .caption {
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Calibri';
  }
.first_img {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #ac8a40, #503335, #09181e);
}
.first_img img {
    width: 99%;
    height: 25%;
    max-height: 600px;
    max-width: 1400px;
    border: 1px solid #080800;
    border-radius: 10px;
    box-shadow: 0 0 30px 3px #0d1a1f;

}

.cap-cat {
    background-color: black;
    color: white;
    width: 65%;
    margin: auto;
}

.back-cat img {
    width: 65%;
    margin: auto;
    justify-content: center;
    display: flex;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #fff;
    width: 95%;
    margin: 0 auto;
}
.footer img {
    pointer-events: none;
    display: inline-block;
    margin: 15px;
}
.footer img p {
    font-size: 8px;
    color: #FFFFFF;
    margin-left: 50px;
}